.chat-container { 
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

.App-title  {
  font-size: 14px;
  color: #fff;
  background-color: #292929;
  padding: 10px;
  text-transform: uppercase;
}

.App-logo {
  height: 40px;
  flex-shrink: 0; 
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #292929;
  align-items: center;
  gap: 20px;
  padding: 15px 0 0;
}
@media screen and (max-width: 399px) {
  .flex-row{
    flex-direction: column;
    gap: 0;
  }
}

.model-select {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.quick-reply-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap in multiple lines */
  justify-content: center; /* Centers items horizontally */ 
  padding: 10px; /* Padding around the container */
  background-color: #292929;
}

.quick-reply {
  background-color: rgba(226,226,226, 30%);
  border-radius: 20px; /* Rounded corners */
  padding: 12px; /* Spacing inside each quick-reply */
  margin: 8px; /* Space between quick replies */
  cursor: pointer; /* Indicates clickable item */
  font-size: 12px; /* Readable text size */
  color: white; /* Darker text for readability */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.quick-reply:hover {
  background-color: #e2e2e2; /* Slightly darker on hover */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}
.chat-box {
  min-width: 280px; 
  min-height: 300px; 
  border-radius: 10px;
  overflow: hidden;
} 
.chat-messages-container {
  flex-grow: 1;
  overflow-y: scroll;
  padding-inline: 10px;
  margin-bottom: 20px;
  scrollbar-width: none; /* Firefox */
  padding-block:10px;
 
}

.chat-messages-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.chat-message {
  width: 100%; /* Ensure the message takes up the full width of the container */
  text-align: left; /* Align text to the left */
  padding: 0 10px;
}

.chat-message p {
  margin: 0;
  white-space: pre-wrap;
  color: #333;
  font-size: 12px;
}

.chat-message strong {
  color: #007bff;
}

.bot-response {
  margin-top: 7px;
  margin-left: 0;
  white-space: pre-wrap;
  background: rgba(226, 226, 226, 75%);
  border-radius: 12px;
  padding: 10px;
  font-size: 12px;
  display: inline-block;
}
.flex-user, .flex-bot{
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-bottom: 10px;
} 
.flex-user {
  flex-direction: row-reverse;
}
.text-end{
  text-align: end;
}
.round-border{
  height: 35px;
  width: 35px;
  min-width: 35px;
  background: rgba(226, 226, 226, 75%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
}
.chat-input-container {
  display: flex;
  width: 100%;
  align-items: center;
  background: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
}

.chat-input {
  flex-grow: 1;
  min-width: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}

.chat-button {
  padding: 7px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #292929;
  color: white;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.chat-button:hover {
  background-color: #0056b3;
}

.chat-button:disabled:hover {
  background-color: #cccccc;
}
